
<div data-ng-if="mdView.current.record.lineage">
  <h2 data-translate="">lineage</h2>
  <p data-ng-bind-html="mdView.current.record.lineage | linky | newlines"/>
</div>

<div data-ng-if="mdView.current.record.sourceDescription">
  <h2 data-translate="">sourceDescription</h2>
  <p data-ng-bind-html="mdView.current.record.sourceDescription | linky | newlines"/>
</div>

<div data-ng-if="mdView.current.record.supplementalInformation">
  <h2 data-translate="">supplementalInformation</h2>
  <p data-ng-bind-html="mdView.current.record.supplementalInformation | linky | newlines"/>
</div>

<div data-ng-if="mdView.current.record.relatedRecords"
     data-gn-related="mdView.current.record"
     data-user="user"
     data-types="sources"
     data-layout="card"
     data-has-results="hasRelations.sources"
     data-title="{{'sourceDatasets' | translate}}">
</div>
<div data-ng-if="mdView.current.record.relatedRecords"
     data-gn-related="mdView.current.record"
     data-user="user"
     data-types="hassources"
     data-layout="card"
     data-has-results="hasRelations.hassources"
     data-title="{{'isSourceOfDatasets' | translate}}">
</div>
