<div data-ng-class="">
  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-types="sources"
    data-layout="card"
    data-has-results="hasRelations.sources"
    data-title="{{'sourceDatasets' | translate}}"
  ></div>
  <div
    data-ng-if="mdView.current.record.related.uuids"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-types="hassources"
    data-layout="card"
    data-has-results="hasRelations.hassources"
    data-title="{{'isSourceOfDatasets' | translate}}"
  ></div>
</div>
