
/* - eea_soer.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/eea_soer.css?original=1 */
/* */
/* */
.photoAlbumEntry,
.soerHeader .portletHeader {
position: relative;
padding: 5px 0;
}
.websource-box {
background: transparent url('tag_green_right.png') no-repeat 100% 0;
position: absolute;
top: 0;
right: 0;
padding: 0 25px 0 0;
overflow: hidden;
text-indent:-999px;
}
.imagesource-box {
position: absolute;
top: 0;
right: 0;
padding: 0;
overflow: hidden;
border: 0 ! important;
}
.websource-box:hover {
text-indent: 0;
}
.soerHeader {
float: right;
position: relative;
margin: 0 0 10px 10px;
width: 210px;
}
.soerHeader .portlet {
vertical-align:baseline;
position: relative;
overflow: hidden;
float: right;
clear: right;
width: 200px;
margin: 0 0 10px 10px;
}
.soerHeader .body {
padding: 10px;
}
.soerHeader #channel-portlet img {
max-width: 200px;
}
#channel-portlet dd {
text-align:center;
}
.topicmenu li {
float: left;
padding-right: 1em;
margin-left: 1.5em;
font-size: 125%;
}
.tileItem {
position: relative;
}
.image-source a {
position: relative;
display: block;
height: 100%;
width: 400px;
}
.websource-info {
}
.soerAssessment img {
padding: 20px 0;
}
.soer-keyMessage {
background-color: #ECF3D0;
border: 1px solid #8CACBB;
color: Black;
padding: 0 1em 1em 1em;
width: 500px;
margin: 0 0 1em 0;
}
.photoAlbumEntryPreview,
.photoAlbumEntryPreview a,
.photoAlbumEntryPreview .photoAlbumEntryTitle {
height: auto;
width: auto;
background-image: none;
margin: 0.5em  0 1em 0;
}
.related-indicators {
margin-bottom: 5em;
}
.soer-topicview h2 {
font-size: 150%;
}
.soer-topicview .documentByLine,
.section-soer .documentByLine {
clear: none;
margin: -0.83em 0 1em 0;
}
.soer-topicview .documentByLine a {
color: #76797C;
}
/* */

}


/* - readiness.css - */
@media screen {
/* http://www.eea.europa.eu/portal_css/readiness.css?original=1 */
.readiness_accordion  {
margin:1em 0;
}
.readiness_accordion .ui-accordion-header {
margin:0;
}
.readiness_accordion ul {
list-style-type:none;
line-height:inherit;
margin:0;
padding:5px 0;
}
.readiness_accordion ul.finished li {
background:transparent url('./accept.png');
background-repeat:no-repeat;
padding-left:20px;
}
.readiness_accordion ul.unfinished li {
background:transparent url('./cancel.png');
background-repeat:no-repeat;
padding-left:20px;
}

}

