
/* - ++resource++eea.translations-logo.css - */
@media screen {
/* http://www.eea.europa.eu/portal_css/++resource++eea.translations-logo.css?original=1 */
#logo-bg {
background-image: url(++resource++eea.translations.images/logo-bg.gif);
}
#logo-da {
background-image: url(++resource++eea.translations.images/logo-da.gif);
}
#logo-el {
background-image: url(++resource++eea.translations.images/logo-el.gif);
}
#logo-es {
background-image: url(++resource++eea.translations.images/logo-es.gif);
}
#logo-fi {
background-image: url(++resource++eea.translations.images/logo-fi.gif);
}
#logo-hu {
background-image: url(++resource++eea.translations.images/logo-hu.gif);
}
#logo-it {
background-image: url(++resource++eea.translations.images/logo-it.gif);
}
#logo-lt {
background-image: url(++resource++eea.translations.images/logo-lt.gif);
}
#logo-mt {
background-image: url(++resource++eea.translations.images/logo-mt.gif);
}
#logo-nl {
background-image: url(++resource++eea.translations.images/logo-nl.gif);
}
#logo-pl {
background-image: url(++resource++eea.translations.images/logo-pl.gif);
}
#logo-ro {
background-image: url(++resource++eea.translations.images/logo-ro.gif);
}
#logo-sl {
background-image: url(++resource++eea.translations.images/logo-sl.gif);
}
#logo-tr {
background-image: url(++resource++eea.translations.images/logo-tr.gif);
}
#logo-cs {
background-image: url(++resource++eea.translations.images/logo-cs.gif);
}
#logo-de {
background-image: url(++resource++eea.translations.images/logo-de.gif);
}
#logo-et {
background-image: url(++resource++eea.translations.images/logo-et.gif);
}
#logo-fr {
background-image: url(++resource++eea.translations.images/logo-fr.gif);
}
#logo-is {
background-image: url(++resource++eea.translations.images/logo-is.gif);
}
#logo-kl {
background-image: url(++resource++eea.translations.images/logo-kl.gif);
}
#logo-lv {
background-image: url(++resource++eea.translations.images/logo-lv.gif);
}
#logo-no {
background-image: url(++resource++eea.translations.images/logo-no.gif);
}
#logo-pt {
background-image: url(++resource++eea.translations.images/logo-pt.gif);
}
#logo-sk {
background-image: url(++resource++eea.translations.images/logo-sk.gif);
}
#logo-sv {
background-image: url(++resource++eea.translations.images/logo-sv.gif);
}

}

