
/* - print.css - */
@media print {
/* http://www.eea.europa.eu/portal_css/print.css?original=1 */
#auto-related,
#related-multimedia,
.languageCodes,
#themes-object,
#cross-site-top,
#portal-footer img,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav .plain,
#portal-globalnav .selected,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#portal-column-one,
#portal-column-two,
.contentViews,
.contentActions,
.help,
.legend,
div.portalMessage,
div.portalWarningMessage,
div.portalStopMessage,
div.documentActions,
.documentByLine,
.netscape4,
#portal-colophon,
#multimedia-highlights,
body.frontpage .portlet-promotions,
.moreLink,
.skipnav,
.visualNoPrint,
.visualClear {
/* */
display: none !important;
}
body {
font-family: Baskerville, Georgia, Garamond, Times, serif;
font-size: 11pt;
min-width: 10cm;
width: auto;
}
#portal-visual-wrapper {
width: 100%;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6
{
border: none;
font-family: Baskerville, Georgia, Garamond, Times, serif;
width: auto;
}
div, p, ul, dl, ol {
width: auto !important;
}
* html #content {
width: auto !important;
}
ul, ol, dl {
padding-right: 0.5em;
}
ul {
list-style-type: square;
}
.documentDescription {
font-weight: bold;
}
pre {
border: 1pt dotted black;
white-space: pre;
font-size: 8pt;
overflow: auto;
padding: 1em 0;
}
table.listing,
table.listing td {
border: 1pt solid black;
border-collapse: collapse;
}
td a img {
display: none;
}
a {
color: Black !important;
text-decoration: none !important;
}
a:link, a:visited {
color: #520;
background: transparent;
}
a img {
border: none;
}
#content {
white-space: normal;
}
#content a.noPrint:link:after,
#content a.noPrint:visited:after {
content: '';
}
#printLogo {
display: block !important;
float: right;
width: 7.5cm;
}
h2.highlight {
padding-top: 1em;
}
#print-warning {
display: none;
}
body.frontpage .column-area,
.portlet-rss {
display: block !important;
float: none !important;
width: 100% !important;
margin-top: 1em;
}
.portlet-rss * {
clear: both;
}
/* */
.documentEditable .documentContent {
border:none !important;
}
#portal-column-content {
margin:0 !important;
}
body {
background-image:none !important;
}
#box-classification {
float:none !important;
}
div.metadata-switch {
display:none !important;
}
.keyMessage {
page-break-inside:avoid !important;
}
.indicator-figure-plus-container {
page-break-inside:avoid !important;
}
/* */
/* */
div.pageBreak {
page-break-before: always;
}
/* */
#content dt {
margin:1em 0 0.625em;
}
#content p, #content table {
margin-bottom:0.625em;
margin-top:0.625em;
}
#content .documentDescription, #content #description {
margin:0.5em 0 1.31em;
}
/* */
.image-left {
float: left;
clear: both;
margin: 0.5em 1em 0.5em 0;
border: 0.4pt solid Black;
}
.image-inline {
float: none;
}
.image-right {
float: right;
clear: both;
margin: 0.5em;
border: 0.4pt solid Black;
}
dd.image-caption {
text-align:left;
padding: 0; margin:0;
}
dl.captioned {
padding: 0.8em;
}
.newsImageContainer {
float:right;
margin: 0 0 0.5em 1em;
width: 16em;
}

}


/* - eeadesign2006.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/eeadesign2006.css?original=1 */
/* */
#printLogo {
display: none;
}
.visualClear {
display: block;
clear: both;
}
.image-right {
float: right;
clear: both;
margin: 1.5em 0 0 0;
padding-right: 0.5em;
border: none;
vertical-align: middle;
}
/* */
#portal-subsite {
position:absolute;
margin-top:-35px;
}
#portal-subsite a {
color: #346f83;
text-decoration: none;
font-size:85%;
}
#portal-subsite a:hover {
color: #346f83
}
.portlet-tabs #portletitem-rectis {
background: white url(http://www.eea.europa.eu/bgnature.jpg) no-repeat;
}
/* */
#content div.localSearch {
width: 30em;
margin: 1.5em auto;
}
#portal-column-one div.localSearch,
#portal-column-two div.localSearch {
width: 100%;
margin: 1em auto;
}
/* */
/* */
/* */
.hiddenStructure {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.portlet-tabs #portletitem-skovis img#agents {
margin-left: -70px;
position: relative;
bottom: 0px;
left: 0;
float: left;
}
/* */
* html .portlet-tabs #portletitem-skovis img#agents {
bottom: -9px;
}
.documentEditable * input.searchButton,
.documentEditable * input.context,
.documentEditable * input.destructive,
.documentEditable * input.standalone,
input.context,
input.destructive,
input.standalone {
cursor: pointer;
background:#f5821f;
color:white;
text-transform: lowercase;
border:1px solid;
border-color:#FC9 #630 #330 #F96;
padding:0.3em;
font: bold 1.2em verdana,sans-serif;
text-decoration:none;
}
input.context:hover,
input.destructive:hover,
input.standalone:hover {
color: #F9F99D;
}
/* */
/* */
/* */

}


/* - visual.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/visual.css?original=1 */
/* */
/* */
.breadcrumbitem, .breadcrumbitemlast {
padding-right:0px;
padding-left:11px;
}
.breadcrumbitemlast {
font-weight:bold;
}
a.breadcrumbitem {
color:#346f83;
}
.collapsibleHeader {
cursor: pointer;
background: transparent url(http://www.eea.europa.eu/p_/pl) 0% 50% no-repeat;
padding: 1px 0px 1px 20px;
}
.expandedBlockCollapsible .collapsibleContent {
display: block;
}
.collapsedBlockCollapsible .collapsibleContent {
display: none;
}
/* */
table {
empty-cells: show;
font-size: 0.9em;
}
td {
line-height: normal;
text-decoration: none;
}
th {
font-weight: bold;
line-height: normal;
padding: 0.1em 0.5em;
text-decoration: none;
}
th a, th a:link, th a:visited {
color: #000;
}
/* */
table.datatable {
border: 1px solid #b6b6b6;
border-collapse: collapse;
color: #666666;
margin: 1em 0.5em;
}
.datatable th {
text-align: center;
background-color: #f6f6f6;
font-weight: bold;
}
.datatable th.scope-row { /* */
text-align: right;
}
.datatable th[scope="row"] {
text-align: right;
}
.datatable .number {
text-align: right;
}
.datatable .sum {
font-weight: bold;
}
.datatable td, .datatable th  {
padding: 0.3em;
vertical-align: top;
}
.datatable tr {
}
.datatable tr.zebraeven {
background-color: #f6f6f6;
}
/* */
.sortable, .listing {
border: 1px solid #b6b6b6;
color: #666666;
line-height:normal;
}
.sortable tbody tr {
}
.sortable td, .listing td {
padding: 0.2em;
border-bottom: 1px dotted #b6b6b6;
}
.sortable th, .listing th {
background: #f1efe5;
border: 2px outset #adc095; /**/
margin: 0;
padding: 0;
white-space: nowrap;
vertical-align: top;
text-transform: none;
}
.sortable th a:link,
.listing th a:link,
.sortable th a:visited,
.listing th a:visited,
.sortable th span,
.listing th a:visited {
display:block;
text-decoration: none;
font-weight: bold;
padding:1px 0.5em;
}
.sortable thead th a:hover,
.listing thead th a:hover,
.listing thead th:hover {
background: #f6a800;
color: #fff;
}
/* */
.listing tr:nth-child(odd) td,
.sortable tr:nth-child(odd) td
.datatable tr:nth-child(odd) td {
background-color: #ececec;
}
/* */
.formtable {
border-collapse: collapse;
}
.formtable th {
vertical-align: top;
text-align: right;
border: none;
background: transparent;
}
.formtable th.scope-col { /* */
text-align: left;
}
.formtable th[scope="col"] {
text-align: left;
}
.formtable td  {
vertical-align: top;
}
/* */
#content blockquote {
width: 70%;
margin: 1.0em auto;
padding: 1.5em 1em 1em 3em;
background: #f3f3f3 url(http://www.eea.europa.eu/open_quote.gif) 0.5em 0.75em no-repeat;
color: #000000;
clear:both;
}
#content blockquote.quote-right {
float: right;
width: 15em;
}
#content blockquote.quote-left {
float: left;
width: 15em;
margin:2em 2em 0.4em 0em;
}
#content blockquote p {
font-weight:bold;
background: url(http://www.eea.europa.eu/close_quote.gif);
background-position: bottom right;
background-repeat: no-repeat;
padding: 0em 2.25em 1em 0em;
}
#content blockquote p.source {
text-align:right;
background: none;
font-style: normal;
font-weight:normal;
font-size: x-small;
padding: 0em 1em 0em 0em;
}
/* */
#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a,
#content h6 a {
text-decoration: none;
padding-right: 0.9em !important;
border: none;
}
#content .header-with-go-back-button .back-to-toc-button {
background: url(http://www.eea.europa.eu/arrow_up_12x12.png) right center no-repeat;
width: 12px;
height: 12px;
padding-left: 6px;
display: none;
}
#content .header-with-go-back-button:hover .back-to-toc-button {
display: inline;
}
/* */
#content div#multicolumn {
-moz-column-width: 150px;
-moz-column-gap: 20px;
column-width: 150px;
column-gap: 20px;
}
/* */
.boxShadowedDown, .featured, #edit-bar, #contentActionMenus, #portal-personaltools,
#portal-personaltools, #faceted-form .widget-fieldset legend {
-moz-box-shadow: 0px 2px 2px #888;
-webkit-box-shadow: 0px 2px 2px #888;
box-shadow: 0px 2px 2px #888;
}
.boxShadowedDownRight, .actionMenuContent {
-moz-box-shadow: 2px 2px 1px #888;
-webkit-box-shadow: 2px 2px 1px #888;
box-shadow: 2px 2px 1px #888;
}
.greenGradientBackgroundUp, #edit-bar, .actionMenuContent, #portal-personaltools,
#faceted-form .widget-fieldset legend {
background-color: #777c1f;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
background-image:    -moz-linear-gradient(center top , #b1c748, #777c1f);
background-image:     -ms-linear-gradient(center top , #b1c748, #777c1f);
background-image:      -o-linear-gradient(center top , #b1c748, #777c1f);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1c748', endColorstr='#777c1f'); /* */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1c748', endColorstr='#777c1f')"; /* */
background: linear-gradient(#b1c748, #777c1f); /* */
}
.greenGradientBackgroundDown, #contentActionMenus {
background-color: #777c1f;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777c1f), to(#b1c748));
background-image: -webkit-linear-gradient(center top , #777c1f, #b1c748);
background-image:    -moz-linear-gradient(center top , #777c1f, #b1c748);
background-image:     -ms-linear-gradient(center top , #777c1f, #b1c748);
background-image:      -o-linear-gradient(center top , #777c1f, #b1c748);
}
/* */
.figure p,
.figure-plus p,
.figure-container p,
.figure-standalone p {
margin-bottom: 0;
}
.figure, .figure-plus {
text-indent: 0;
}
.figure-title, .figure-nr {
font-weight: bold;
display: none;
}
.figure-image {
text-align: center;
clear: both;
}
.figure-note {
font-weight: normal;
}
.figure-source-copyright {
text-align: right;
}
.figure-plus-container {
margin:0.8em 0em 0.5em 0.5em;
}
.figure-plus {
background-color: #fff;
border: 1px solid #a9a9a9;
margin: -6px 0 0 -6px;
padding: 4px;
zoom: 1;
}
.figure-standalone {
background-color: #fff;
border: 1px solid #a9a9a9;
margin: 0 0 0 0;
padding: 4px;
}
/* */
.figure-right .figure,
.figure-right .figure-plus-container {
float: right;
margin-left: 1em;
}
.related-in-content-area .figure-plus-container {
margin-left: 3em;
}
/* */
.figure-left .figure,
.figure-left .figure-plus-container {
float: left;
margin-right: 0.5em;
}
span.figure-left {
display: block;
}
.figure-container-imagelarge,
.figure-container-imagelarge .figure-image,
.figure-container-imagelarge p {
width:768px;
}
.figure-container-imagepreview,
.figure-container-imagepreview .figure-image,
.figure-container-imagepreview p {
width:400px;
}
.figure-container-imagemini,
.figure-container-imagemini .figure-image,
.figure-container-imagemini p {
width:180px;
}
.figure-container-imagethumb,
.figure-container-imagethumb .figure-image,
.figure-container-imagethumb p {
width:128px;
}
.figure-container-imagetile,
.figure-container-imagetile .figure-image,
.figure-container-imagetile p {
width:64px;
}
.figure-container-imageicon,
.figure-container-imageicon .figure-image,
.figure-container-imageicon p {
width:32px;
}
.figure-container-imagelisting,
.figure-container-imagelisting .figure-image,
.figure-container-imagelisting p {
width:16px;
}
/* */
#keyfacts-slider img.keyfacts-bgimg {
min-width: 633px;
min-height: 356px;
width: 639px !important;
position: absolute;
bottom: 0;
left: 0;
}
#keyfacts-slider dl {
width: 639px;
height: 140px !important;
position: relative;
top: -160px;
left: -2px;
opacity: 0.8;
margin-bottom: -120px;
}
#keyfacts-slider .slidePortlet {
position: relative;
overflow: hidden;
padding: 0;
background: #005e7d;
color: #FFFFFF;
width: 639px !important;
left: 0 !important;
top: -140px !important;
box-shadow: 0 2px 2px #333;
-webkit-box-shadow: 0 2px 2px #333;
-moz-box-shadow: 0 2px 2px #333;
}
#keyfacts-slider .slidePortlet .portletItem {
position: absolute;
margin: 0;
padding: 0;
width: 100%;
font-size: 115%;
}
#keyfacts-slider .slidePortlet .portletItem span {
display: block;
padding: 10px 25px;
}
#keyfacts-slider .slidePortlet .slideButton {
position: absolute;
top: 40%;
margin: 4px;
padding: 10px 2px;
width: 8px;
height: 8px;
background: transparent url(http://www.eea.europa.eu/accordion_left.png) no-repeat scroll center center;
cursor: pointer;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
#keyfacts-slider .slidePortlet .slideButton.next {
right: 0;
background: transparent url(http://www.eea.europa.eu/accordion_right.png) no-repeat scroll center center;
}
#keyfacts-slider .slidePortlet .slideButton.play {
position: absolute;
right: 0;
top: 8px;
margin-right: 10px;
padding: 5px;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
background: transparent url('http://www.eea.europa.eu/sprite-eeaimages.png') no-repeat scroll -446px -216px;
}
#keyfacts-slider .slidePortlet .slideButton.play.pause {
background: transparent url('http://www.eea.europa.eu/sprite-eeaimages.png') no-repeat scroll -454px -191px;
}
#keyfacts-slider .slidePortlet a.moreLink {
background: none;
padding-left: 0;
text-decoration: underline;
color: white !important;
cursor: pointer;
}
#keyfacts-slider .slidePortlet a.moreLink:hover {
text-decoration: none;
}
#keyfacts-slider .slidePortlet .portletHeader {
padding-left: 25px !important;
text-shadow: 1px 1px #000000;
background: #005e7d;
color: #FFFFFF !important;
}
#keyfacts-slider .keyfactsImgContainer {
overflow: hidden;
text-align: center;
position: relative;
height: 280px;
}
/* */
.dropshadow, .thumbnail-right {
display: block;
margin: 10px 0px 2px 6px;
}
.shadowed, .thumbnail-right img {
display: block;
margin: -6px 0px 0px -6px;
padding: 5px;
}
/* */
.dropshadow img a:hover, .figure img a:hover, .thumbnail-right img a:hover {
background-color: #ececec;
border: 1px solid #f5821f;
}
img.scaled {
width: 100%;
}
/* */
.figure-container {
float: left;
background-color: #fff;
border: 1px solid #a9a9a9;
margin: 0 10px 3px 0;
padding: 5px;
}
/* */
dl.wizard dt {
background: #ececec;
padding: 10px;
color: white;
float: left;
font-size: 3em;
}
dl.wizard dd {
font-size: 1.5em;
float: left;
width: 5em;
padding: 0 0.5em;
margin: 0 1em 0 0;
}
dl.wizard dt.currentStep {
background: #D6D6D6;
}
* html dl.wizard dt {
width: 1em;
padding: 5px 2px 5px 10px;
}
.roundedBox {
display:block;
background: #ececec;/* */
}
.portlet-subscribtion {
display:block;
color: black;
}
.roundedBox h1,
.roundedBox h2,
.roundedBox h3,
.roundedBox h4,
.roundedBox h5,
.roundedBox h6 {
color: #333333;
text-decoration: none;
padding: 0em 1em;
}
.roundedBox p,
#portlet-login p,
.roundedBox dt,
#portlet-login dt,
.roundedBox dd,
#portlet-login dd,
.roundedBox form
{
padding: 0 1em;
}
#portlet-login dt.portletHeader {
padding: 0.7em 0.7em 0em 0.7em;
}
/* */
#content #portlet-login {
width: 20em;
margin: 1em;
}
/* */
#portlet-login a, #portlet-login a:visited, #portlet-login a:active, #portlet-login a:hover,
.photoAlbumEntry a:hover {
text-decoration: none;
border-bottom: 0px;
}
/* */
.lightBGC {
background-color:#f3f3f3;
}
.mediumBGC {
background-color:#ececec;
}
.darkBGC {
background-color:#D6D6D6;
}
/* */
.link-info {
background: transparent url(http://www.eea.europa.eu/info_icon.gif) 0% 50% no-repeat;
padding: 1px 0px 1px 20px;
}
/* */
.link-user {
background: transparent url(http://www.eea.europa.eu/user.gif) 0% 50% no-repeat;
padding: 1px 0px 1px 20px;
}
/* */
.link-arrow {
background: transparent url(http://www.eea.europa.eu/arrow-normal.png) 0% 50% no-repeat;
padding: 1px 0px 1px 20px;
}
/* */
#portal-breadcrumbs .link-arrow-left {
background: transparent url(http://www.eea.europa.eu/arrowLeft.gif) 0% 50% no-repeat;
padding: 0px 0px 0px 0.5em;
margin-left:0.5em;
margin-right:0.5em;
text-decoration: none;
}
/* */
#portal-breadcrumbs .link-arrow-right {
background: transparent url(http://www.eea.europa.eu/arrowRight.gif) 0% 50% no-repeat;
padding: 0px 0px 0px 0.5em;
margin-left:0.5em;
margin-right:0.5em;
text-decoration: none;
}
div span span#languageCodes {
padding: 0 0.25em;
}
#languageCodes {
padding: 0.25em 0 0.25em 0;
}
#languageCodes li {
display: inline-block;
}
form.manylanguages {
margin: 0;
padding: 0;
display: inline;
}
form.manylanguages select {
background: #D6D6D6;
color: white;
text-decoration: none;
}
#languageCodes li a.noTranslation {
background: transparent;
color: #346f83;
}
.highlights ul.relatedLinks li,
#relatedItems legend,
#relatedItems fieldset,
.relatedLinks ul,
.relatedLinks, ul#languageCodes  {
border: 0;
padding: 0;
margin: 0;
}
.highlights ul.relatedLinks,
#relatedItems,
.relatedLinks {
margin: 1em 0 0 1px;
color: #333333;
}
.relatedLinks li {
display: inline;
font-size: 0.8em;;
}
.awardNotice {
float: left;
padding: 20px;
}
#portlet-login {
color: #000;
}
form#translationfeedback input#url {
display: none;
}
body.frontpage .documentActions ul {
display: none;
}
body.frontpage .documentActions ul#languageCodes {
display: block;
}
/* */

}


/* - eea-navigation.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/eea-navigation.css?original=1 */
a.navItemLevel1current,
#eea-portlet-navigation-tree a.navItemLevel3current,
#eea-portlet-navigation-tree a.navItemLevel2current {
background: url("arrow-normal.png") no-repeat scroll 1em 50% #b1c748 !important;
}
#eea-portlet-navigation-tree a,
#eea-portlet-navigation-tree a:active,
#eea-portlet-navigation-tree a:visited  {
color:#333333;
}
#eea-portlet-navigation-tree {
font-weight: bold;
}
#eea-portlet-navigation-tree .navTreeLevel3  {
margin-left: 1em;
}
#eea-portlet-navigation-tree .navTreeLevel2 .navItemLevel2  {
font-size: 1.1em;
line-height: 1.2em;
color: #346f83;
margin-top: 0em;
margin-bottom: 0em;
}
#eea-portlet-navigation-tree  li.navItemLevel2 {
margin-bottom:0.3em;
}
#eea-portlet-navigation-tree li.navItemLevel3,
#eea-portlet-navigation-tree li.navItemLevel4 {
}
#eea-portlet-navigation-tree .navTreeLevel3 .navItemLevel3,
#eea-portlet-navigation-tree .navTreeLevel4 .navItemLevel4 {
font-size: 1em;
line-height:	1.5em;
color: #333333;
margin-top:0em;
margin-bottom:0.1em;
padding-left:1.5em;
}
#eea-portlet-navigation-tree a {
text-decoration: none;
}
#eea-portlet-navigation-tree ul {
margin-left:0;
margin-right:0;
}
#eea-portlet-navigation-tree ul {
list-style: none;
}
#eea-portlet-navigation-tree li {
margin-left: -1em;
padding-left: 1em;
margin: 0 0 -1em 0;
padding: 0 0 1em 0;
}
#eea-portlet-navigation-tree .roundedBox a {
padding: 0.5em 0.5em;
}
#eea-portlet-navigation-tree .roundedBox {
margin-bottom:0.3em;
}
/* */
#eea-portlet-navigation-tree a.navItemLevel3:hover,
#eea-portlet-navigation-tree a.navItemLevel4:hover {
color: #8e004d !important;
background-color: #e9efcd;
}
#eea-portlet-navigation-tree a.navItemLevel2:hover {
color:#8e004d !important;
background-color:transparent !important;
}
#eea-portlet-navigation-tree .portletHeader a:hover {
color:#346f83 !important;
background-color:#e9efcd;
}
/* */
a.navItemLevel1current,
#eea-portlet-navigation-tree a.navItemLevel3current,
#eea-portlet-navigation-tree a.navItemLevel2current {
color: #8e004d !important;
background-color: #e9efcd;
}
#subsite-logo {
width: 150px;
}
/* */
/* */

}


/* - themecentre.css - */
@media screen {
/* http://www.eea.europa.eu/portal_css/themecentre.css?original=1 */
/* */
#content .content-column-one {
float: left;
width: 100%;
padding-right: 1em;
}
#themes-related dt img {
float: left;
margin: 0 0.5em 0.2em 0;
}
.media-nav-icon {
float: left;
margin-right: 5px;
}
#portlet-multimedia-tree dd ul li {
clear: both;
padding: 2px 0;
}
body.section-themes #themes-sitemap h2 {
clear: both;
}
.contentColumnOne {
float:left;
width:47%;
}
.column-list li {
background: url("bullet.gif") no-repeat scroll 0 0 transparent;
display: inline-block !important;
padding-left: 10px;
width: 213px;
}
.contentColumnTwo {
float:right;
width:47%;
}
/* *****/
body.section-themes .portlet-rss .portletHeader {
padding: 0.5em;
}
body.section-themes .portlet-rss .portletItem {
padding-left: 0.5em;
}
body.section-themes #content dt.portletItem img {
margin-right: 1em;
float: left;
margin-bottom: 1em;
}
body.section-themes #content dt.portletItem a {
}
.commonThemes {
font-size: 65%;
color: grey;
}
.allitems dt {
font-weight: bold;
}
.theme-article-section {
clear: left;
}
.theme-article-image {
float: left;
margin: 0.5em 1em 0.5em 0;
border: 1px solid black;
}
.articleSection {
/* */
}
body.section-themes #content div.plain div,
body.section-themes #content div.plain p,
body.section-themes #content div.plain h2 {
clear: left;
}
body.section-themes #content div.plain div div,
body.section-themes #content div.plain div p,
body.section-themes #content div.plain p div,
body.section-themes #content div.plain p p {
clear: none;
}
body.section-themes #content .image-left {
clear: none;
float: left;
}
body.section-themes #content .image-left div {
/* */
}
body.section-themes #content div.plain blockquote {
width: 50%;
margin: 0 0 0 10%;
}
/* *****/
.themes-view-image-icon ul {
list-style-image: none !important;
list-style-type: none !important;
font-weight: bold;
}
.themes-view-image-icon img {
height: 28px;
width: 28px;
}
#themes-sitemap #all-topics-list {
margin:4em 0 0 0;
}
#subtopics {
margin: 0 0 2em 0;
border-radius: 5px;
box-shadow: 0 2px 2px #888888;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
#subtopics li {
background: url("bullet.gif") no-repeat scroll 0 0 transparent;
display: inline-block !important;
padding: 0 15px;
margin-right: 20px;
width: 220px;
vertical-align: top;
}
#subtopics h2, #subtopics h3 {
background: none;
padding: 0px;
}
/* *****/
#top-news-area {
/* */
font-size: 1.2em;
width: 998px;
}
#top-news-area .portlet-promotions .portletHeader a {
color: &dtml-linkHeadingColor;;
font-weight: normal;
/* */
background: transparent;
padding: 8px 0 0 15px;
}
#top-news-area div.portletHeader {
background: none repeat scroll 0 0 white;
height: 38px;
opacity: 0.8;
margin-top: -38px;
text-align: left;
padding: 0px;
}
#top-news-area .portlet-promotions {
width: 20%;
float: left;
/* */
}
#top-news-area .portlet,
#top-news-area dl.portlet, #top-news-area dd {
margin: 0;
padding: 0;
}
#top-news-area .portlet-promotions img {
width: 100%;
height: 110px;
border-bottom-left-radius: 1em 1em;
border-bottom-right-radius: 1em 1em;
border-top-left-radius: 1em 1em;
border-top-right-radius: 1em 1em;
}
/* */
/* */

}


/* - mobile.css - */
@media handheld, screen and (max-device-width: 480px) {
/* http://www.eea.europa.eu/portal_css/mobile.css?original=1 */
/* */
#portal-column-one,
#portal-column-two,
#portal-column-content {
clear: both;
width: 97.75%;
margin-left: -98.875%;
}
#portal-logo {
display: none;
}
#portal-top {
font-size: 180%;
}
#portal-personaltools {
margin-bottom: 1em;
}
#portal-globalnav li a {
min-width: 3em !important;
padding:0.5em 1.5em 1em 0.5em;
}
#portal-searchbox {
float: none !important;
margin: 1em 0;
text-align: center;
}
#portal-searchbox input {
font-size: 100% !important;
}
#content-views a {
font-size: 150%;
line-height: 2em !important;
padding: 0.5em;
}
#content li.formTab a {
font-size: 140%;
line-height: 2em !important;
padding: 0.25em;
}
#edit-bar {
min-height: 5em;
}
#contentActionMenus a {
width: 100%;
line-height: 2em !important;
font-size: 150%;
}
input, textarea {
font-size: 140% !important;
}
div.managePortletsLink,
a.managePortletsFallback {
font-size: 140%;
}
div.overlay {
font-size: 120%;
}
div.overlay-iframe,
div.overlay-ajax {
width: 90%;
}

}


/* - dataservice_style.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/dataservice_style.css?original=1 */
/* */
#content .metadata-container dd {
margin-left: 3em; }
#map_canvas {
float: left;
margin-right: 10px;
margin-top: 3px; }
.table-definition-show {
cursor: pointer;
color: green; }
.table-definition-body {
border: 1px solid black;
display: none; }
.table-records {
font-style: italic; }
.metadata-container {
margin-left: 0; }
.datatable-title {
margin: 1.67em 0 0; }
/* */
.organisation-statistics {
padding: 0.2em;
margin-bottom: 1em; }
.organisation-statistics legend {
padding: 2px;
font-weight: bold; }
.organisation-header-top {
margin-top: 0.5em; }
.organisation-statistics h5 {
margin-bottom: 0.2 em;
background-color: #f0f0f0;
margin-bottom: 0;
padding-left: 2px; }
.organisation-statistics p {
margin-left: 1em; }
/* */
.quality-table {
border: 1px solid black;
border-collapse: collapse;
float:left;
margin-right: 1em;
}
.quality-table td{
border: 1px solid black;
}
/* */
.quality-widget label {
font-weight: normal;
vertical-align: middle;
}
.quality-widget select {
width: 120px;
}
.quality-widget table {
border: 1px solid black;
border-collapse: collapse;
float: left;
margin-right: 1em;
margin-top: 3px;
}
.quality-widget table td {
border: 1px solid black;
background-color: red;
}
/* */
.convert-all-figures dt {
background-color: #ccc;
}
.convert-all-figures dd {
margin-bottom: 0;
margin-left: 0.2em;
}
/* */
.figuresPhotoAlbumEntry {
float: left;
height: 195px;
width: 143px;
margin: 0em;
padding: 0px 6px 0px 9px;
background-image: url('http://www.eea.europa.eu/polaroid-single.png');
background-repeat: no-repeat;
}
.figuresPhotoAlbumEntry img {
border: none;
display: block;
margin: 0 auto;
}
.figuresPhotoAlbumEntryTitle {
margin-top: 20px;
text-align: center;
width: 130px;
margin-left: 5px;
font-weight: bold;
}
.figuresPhotoAlbumEntry a {
text-decoration: none;
overflow: hidden;
display: block;
height: 4em;
}
.figuresByLine {
background: transparent url('http://www.eea.europa.eu/atct_album_blank.jpg') no-repeat;
margin-left: 2em;
width: 91px;
font-weight: normal;
color: #bbbbbb;
height: 6em;
padding-top: 3.5em;
}
/* */
#portlet-organisations-overview {
margin-bottom: 0.5em;
padding-right: 0.1em;
}
#portlet-organisations-overview legend {
padding: 2px;
font-weight: bold;
font-size: 90%;
}
#organisations-status {
background-color: #ccc;
padding-left: 0.2em;
}
#organisations-loading {
display: none;
}

}


/* - eeareferencebrowser.css - */
@media all {
.eea-refwidget-popup .popup-tabs {
  width: 80%;
  border: none;
  float: left;
}

.eea-refwidget-popup .ui-dialog-titlebar {
  background: #cde2a7 url(title-bar-background.png) repeat-x scroll 50% 50%;
}

.eea-refwidget-popup  .popup-tabs ul.ui-widget-header {
  background: none;
  border: none;
}

.eea-refwidget-popup  .ui-tabs .ui-tabs-panel {
  border: 1px solid #D3D3D3;
}

.eea-refwidget-popup  .popup-selected-items {
  float: left;
  width: 19%;
  border: 1px solid #D3D3D3;
  margin-left: 1px;
}

.eea-refwidget-popup  .popup-selected-items .ui-state-default {
  padding: 0.2em;
  font-weight: bold;
  margin: 0px;
  font-size: 85%;
}

.eea-ref-selecteditems {
  padding: 1em;
}

.eea-ref-selecteditems .tileHeadline {
  margin-top: 0.83em;
}

.eea-ref-selecteditems-box {
  border: 1px solid #8CACBB;
  background: #ffffff url(input_background.gif) repeat-x scroll 0 0;
  height: 14em;
  overflow: auto;
}

.eea-ref-selecteditems .tileItem {
  border: none;
}

.eea-ref-selecteditems .tileItem a {
  font-weight: normal;
  color: #00446a;
}

.eea-ref-selecteditems .tileBreadcrumbs {
  color: #578308;
  font-size: 90%;
  padding-left: 1em;
}

.eea-refwidget-popup  .popup-selected-items-content .ui-state-highlight {
  height: 4em;
}

.eea-refwidget-popup  .popup-selected-items-content .tileItem:hover {
  background-color: #FBF9EE;
}

.eea-refwidget-popup  .ui-icon-custom-add {
  float: right;
  visibility: hidden;
}

.eea-refwidget-popup  .refbrowser-faceted-addable-item:hover {
  background-image: none;
  background-color: #FBF9EE;
  cursor: pointer;
}

.eea-refwidget-popup  .refbrowser-faceted-addable-item:hover .ui-icon-custom-add {
  visibility: visible;
}

.ui-effects-transfer {
  border: 2px dotted #578308;
  z-index: 10000;
}

.eea-refwidget-popup  .ui-pulsate-item {
  border: 1px dotted #578308;
  background-color: #e9efcd;
}

.eea-refwidget-popup  .ui-icon-basket-trash {
  float: right;
  visibility: hidden;
}

.eea-refwidget-popup  .popup-selected-items-content .tileItem:hover .ui-icon-basket-trash{
  visibility: visible;
}

.eea-refwidget-popup  .ui-state-working {
  background: #E6E6E6 url(eeareferencebrowser-loading.gif) no-repeat right center ! important;
}

.eea-refwidget-popup  .popup-tips {
  clear: both;
  margin: 0 0.7em 0 0;
  cursor: pointer;
}

.fieldRequiredFor {
  background:transparent url(required_for.gif) no-repeat scroll left center;
  color:White;
  padding:0 0 0 8px;
  background-position: center center;
}

/* Tabs */
.popup-tabs ul.formTabs {
  background-color: #ddd;
  border: 0.3em solid #ddd;
}

.popup-tabs ul.formTabs {
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

.popup-tabs li.formTab {
    display: inline;
    margin-right:0.25em;
}

.popup-tabs li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

.popup-tabs li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.popup-tabs li.formTab a.current {
    font-weight: bold;
}

.popup-tabs li.formTab a.current,
.popup-tabs li.formTab a:hover {
    background: White;
    color: Black;
}

.popup-tabs .panes {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #DDDDDD;
}

}


/* - faceted_view.css - */
@media all {

/* - ++resource++eea.faceted-navigation.css - */
/* */
.faceted-noborder {
background:transparent none repeat scroll 0 0;
border: medium none;
}
.faceted-form {
padding: 1em 0 0 0;
margin: 0;
width: auto;
}
.faceted-widget {
}
#top-area {
}
#center-and-left-area {
float: left;
margin-right: -25em;
width: 100%;
}
#right-area {
float: right;
width: 25em;
overflow: hidden;
}
#center-area {
float: right;
margin-left: -25em;
width: 100%;
}
#left-area {
float: left;
width: 25em;
overflow: hidden;
}
#center-top-area {
}
#center-bottom-area {
}
#bottom-area {
clear: both;
}
.right-area-js {
margin-right: 25em;
}
.left-area-js {
margin-left: 25em;
}
/* */
.faceted-clear {
clear: both;
}
.faceted-left-column div.faceted-text-widget input[type=submit] {
float: right;
}
.faceted-right-column div.faceted-text-widget input[type=submit] {
float: right;
}
.faceted-left-column div.faceted-text-widget input[type=text] {
width: 99%;
}
.faceted-right-column div.faceted-text-widget input[type=text] {
width: 99%;
}
.faceted-left-column div.faceted-select-widget select{
width: 100%;
}
.faceted-right-column div.faceted-select-widget select{
width: 100%;
}
.faceted-left-column div.faceted-resultsperpage-widget select{
width: 100%;
}
.faceted-right-column div.faceted-resultsperpage-widget select{
width: 100%;
}
.faceted-left-column div.faceted-sorting-widget select{
width: 100%;
}
.faceted-right-column div.faceted-sorting-widget select{
width: 100%;
}
#faceted-form fieldset {
margin: 0.5em;
padding: 1em 0.5em 0.5em 0.5em;
border: 1px solid #ccc;
}
.widget-fieldset legend {
margin-bottom: 0.5em;
font-weight: bold;
}
/* */
.faceted_loading {
text-align: center;
}
/* */
.faceted-section-header {
}
.ui-widget {
font-size: 1em;
}
.ui-helper-reset {
font-size: 1em;
}
.ui-accordion .ui-accordion-content {
padding: 0px;
overflow: hidden;
border-width: 0;
border-style: none;
}
.ui-accordion .ui-state-default {
border: none;
background: none;
background-color: #95b229;
margin: 0 0.5em;
}
.ui-accordion .ui-state-default a {
color: #ffffff;
font-weight: bold;
}
.ui-accordion .ui-state-default a:hover {
border: none;
color: #e9efcd;
}
.ui-accordion .ui-state-active {
border: none;
background: none;
background-color: #e9efcd;
margin: 0 0.5em;
}
.ui-accordion .ui-state-active a{
color: #8e004d;
font-weight: bold;
}
.ui-accordion .ui-state-active a:hover{
border: none;
cursor: text;
}
.faceted-widget-locked legend{
color: #CCC;
}
.faceted-lock-overlay {
background: none;
}
.faceted-widget-loading {
background-image:url(../../++resource++faceted_images/ajax-loader-small.gif);
background-position:95% 1.5em;
background-repeat:no-repeat;
}
.faceted-widget-loading-msie {
background-position: 95% 2.5em;
}
/* */
.faceted-widget-error {
display: none;
}
#faceted-form .faceted-sections-buttons {
float: right;
margin-right: 0.5em;
}
#faceted-form .faceted-sections-buttons a {
display: none;
color: #95B229;
}


/* - ++resource++eea.facetednavigation.widgets.checkbox.view.css - */
.faceted-checkbox-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-checkbox-item-disabled {
display: none ! important;
}
.widget-fieldset {
}
.widget-fieldset ul {
margin: 0px;
list-style: none ! important;
}
.widget-fieldset ul li input {
clear: both;
float: left;
}
.widget-fieldset ul li label {
font-weight: normal;
padding-left: 0.5em;
}
.faceted-checkbox-more {
text-align: right;
}
.faceted-checkbox-less {
text-align: right;
}


/* - ++resource++eea.facetednavigation.widgets.sorting.view.css - */
.faceted-sorting-errors {
display: none;
}


/* - ++resource++eea.facetednavigation.widgets.daterange.view.css - */
.faceted-daterange-widget-form div {
float: left;
margin-left: 0.5em;
}
.faceted-daterange-widget-form div label {
display: block;
}
.faceted-daterange-widget-form input {
width: 10em;
}


/* - ++resource++eea.facetednavigation.widgets.alphabets.view.css - */
.faceted-zero-count-hidden .faceted-alphabetic-letter-disabled {
display: none;
}
.faceted-top-column .faceted-alphabetic-widget {
text-align: center;
}
.faceted-center-column .faceted-alphabetic-widget {
text-align: center;
}
.faceted_letter {
color: #95B229;
font-weight: bold;
font-size: 1.2em;
cursor: pointer;
padding: 0 0.2em 0 0.2em;
background-color: transparent;
}
.faceted_letter:hover{
color: orange;
background-color: #ccc;
}
.faceted_letter_selected {
background-color: #ccc;
color: orange;
font-size: 1.7em;
}
.faceted-alphabetic-letter-disabled {
color: gray;
cursor: auto;
}
.faceted-alphabetic-letter-disabled:hover{
color: gray;
background-color: transparent;
}


/* - ++resource++eea.facetednavigation.widgets.tagscloud.view.css - */
.tags-cloud li {
border: none;
text-decoration: none;
cursor: pointer;
color: #95B229;
}
.tags-cloud li:hover{
color: orange ! important;
}
.faceted-tag-disabled {
color: #ccc ! important;
}
li.faceted-tag-disabled:hover {
color: #ccc ! important;
}
.faceted-tag-selected {
color: orange ! important;
font-size: 110%;
}
.faceted-zero-count-hidden li.faceted-tag-disabled {
display: none ! important;
}


/* - ++resource++Products.EEAContentTypes.faceted.themes.view.css - */


/* - ++resource++eea.facetednavigation.widgets.debug.view.css - */
.faceted-debug-widget pre {
max-height: 200px;
}
.faceted-debug-widget dt {
clear: both;
}


/* - ++resource++eea.facetednavigation.widgets.radio.view.css - */
.faceted-radio-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-radio-item-disabled {
display: none ! important;
}


/* - ++resource++eea.facetednavigation.widgets.select.view.css - */
.faceted-select-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-select-item-disabled {
display: none;
}


/* - ++resource++eea.facetednavigation.widgets.criteria.view.css - */
.faceted-criteria-syndication-rss {
float: right;
padding: 0.2em;
}
.faceted-criteria-syndication-skos {
float: right;
padding: 0.2em;
}
.faceted-criteria {
text-align: left;
}
.faceted-criteria a {
color: #95B229 !important;
text-decoration: none !important;
border: none !important;
}
.faceted-criteria a:visited {
color: #95B229 !important;
text-decoration: none !important;
border: none !important;
}
.faceted-criteria span {
padding-left: 0.2em;
padding-right: 0.5em;
}
.faceted-criteria dt{
font-weight: bold;
}
.faceted-criteria dd{
margin-left: 1.5em;
font-weight: normal;
}
.faceted-criteria-reset {
}
.faceted-criteria-hide-show {
float: left;
margin-right: 1em;
}
.faceted-criteria-hide {
}
.faceted-criteria-show {
display: none;
}
.faceted-criteria-count {
display: none;
}


/* - ++resource++eea.facetednavigation.widgets.date.view.css - */
.faceted-date-widget form {
margin: 2em;
margin-top: 0;
}
.faceted-date-widget-form .ui-slider span.ui-slider-label {
position:relative;
}
.faceted-date-widget-form .ui-state-default,
.faceted-date-widget-form .ui-widget-content .ui-state-default {
background-image: none;
background-color: #e9efcd;
border-color: #95b229;
border-width: 1px;
border-style: solid;
margin: 0;
}
.faceted-date-widget-form .ui-slider {
border: 1px solid #95b229;
}
.faceted-date-widget-form .ui-slider-tooltip {
border: 1px solid #aaa;
}
.faceted-date-widget-form .ui-slider-horizontal {
margin-left:-0.6em;
}
.faceted-date-widget-form .ui-widget-header {
background-image: none;
background-color: #e9efcd;
}


/* - ++resource++eea.facetednavigation.widgets.path.view.css - */
.faceted-path-widget input {
width: 99%;
}
.tree {
position: absolute ! important;
background-color: #FFFFFF;
border: 1px dotted #CCCCCC;
}
.tree > .ltr > li {
display: block ! important;
}
.tree li a {
border: none ! important;
}


/* - ++resource++eea.facetednavigation.widgets.portlet.view.css - */
.faceted-portlet-widget fieldset {
margin: 0.5em;
padding: 0em;
}


/* - ++resource++eea.dataservice.facetednavigation.dataservice.view.css - */

}

