
/* - ++resource++eea.dataservice.view.css - */
@media all {
/* http://www.eea.europa.eu/portal_css/++resource++eea.dataservice.view.css?original=1 */
span#fancybox-left-ico {
left: 1em;
}
a#fancybox-left:hover span {
left: 0.5em;
}
span#fancybox-right-ico {
left: 1em;
}
a#fancybox-right:hover span {
right: 0.5em;
}
a#fancybox-left, a#fancybox-right {
width: 5em;
}
/* */
#fancybox-title-wrap {
background-color: #000000;
border: 2px solid #ffffff;
padding: 1em;
opacity: 0.7;
/* */
filter:alpha(opacity=70);
/* */
display: block;
}
#fancybox-title-wrap span {
float: none;
height: auto;
}
#fancybox-title-left {
display: none;
}
#fancybox-title-right {
display: none;
}
#fancybox-title-main {
background: none;
line-height: 20px;
}
#fancybox-title {
}
.fancybox-title-outside {
padding-top: 0;
}
/* */
#figures-fancyimage {
margin: 2em 5em;
}
.preload {
background-image: url(../../++resource++jqzoom/zoomloader.gif);
z-index: 1000;
}
#map_canvas {
float: left;
margin-right: 10px;
margin-top: 3px; }
.map-photo-album {
padding-bottom: 1em;
}
.figures-fancyimage-left {
float: left;
width: auto;
}
.figures-fancyimage-left img {
border: 1px dotted #000000;
}
.figures-fancyimage-right {
padding-left: 1em;
float: left;
width: auto;
}
.figures-empty {
width: 195px;
padding: 85px 0;
border: 1px dotted #000000;
text-align: center;
cursor: crosshair;
color: #76797C;
font-size: 90%;
}
.map-singlefile {
padding: 1em 0;
}
.map-singlefile .figures-fancyimage-left {
width: auto;
}
.map-singlefile .figures-fancyimage-right {
width: 380px;
}
.map-singlefile .figures-empty {
width: auto;
padding: 0 2em 0 0;
border: none;
text-align: left;
}
.map-singlefile #figures-fancyimage {
margin: 0px;
}
.fancybox-more-details {
clear: both;
text-align: center;
}

}

