.olCursorWait{cursor:wait;}
.print{background-image:url(../apps/images/default/map/icon_print.png)!important;height:20px!important;width:20px!important;}
.addLayerIcon{background-image:url(../apps/images/default/map/map_go.png)!important;}
.addLayer{background-image:url(../apps/images/default/map/map_go.png)!important;height:20px!important;width:20px!important;}
.deleteLayer{background-image:url(../apps/images/default/map/delete_layer.png)!important;height:20px!important;width:20px!important;}
.measure{background-image:url(../apps/images/default/map/icon_measure.png)!important;height:20px!important;width:20px!important;}
.zoomin{background-image:url(../apps/images/default/map/icon_zoomin.png)!important;height:20px!important;width:20px!important;}
.zoomout{background-image:url(../apps/images/default/map/icon_zoomout.png)!important;height:20px!important;width:20px!important;}
.zoomfull{background-image:url(../apps/images/default/map/icon_zoomfull.png)!important;height:20px!important;width:20px!important;}
.zoomlayer{background-image:url(../apps/images/default/map/icon_zoomlayer.png)!important;height:20px!important;width:20px!important;}
.pan{background-image:url(../apps/images/default/map/icon_pan.png)!important;height:20px!important;width:20px!important;}
.selextent{background-image:url(../apps/images/default/map/icon_selextent.png)!important;height:20px!important;width:20px!important;}
.query{background-image:url(../apps/images/default/map/icon_featureinfo.png)!important;height:20px!important;width:20px!important;}
.next{background-image:url(../apps/images/default/map/resultset_next.png)!important;height:20px!important;width:20px!important;}
.back{background-image:url(../apps/images/default/map/resultset_previous.png)!important;height:20px!important;width:20px!important;}
.savewmc{background-image:url(../apps/images/default/map/icon_savewmc.png)!important;height:20px!important;width:20px!important;}
.wmsTime{background-image:url(../apps/images/default/map/wmstime.gif)!important;height:20px!important;width:20px!important;}
.layerStyles{background-image:url(../apps/images/default/map/layerstyles.png)!important;height:20px!important;width:20px!important;}
.layerOpacity{background-image:url(../apps/images/default/map/opacity.png)!important;height:20px!important;width:20px!important;}
.wmsInfo{background-image:url(../apps/images/default/map/wmsinfo.png)!important;height:20px!important;width:20px!important;}
.olControlLoadingPanel{background-image:url(../apps/images/default/map/indicator_medium.gif);background-position:center;background-repeat:no-repeat;}
.loadwmc{background-image:url(../apps/images/default/map/icon_loadwmc.png)!important;height:20px!important;width:20px!important;}
.selectfile{background:url(../apps/images/default/map/icon_selectfile.png) no-repeat 0 0!important;}
.olControlMousePosition{font-family:tahoma,arial,verdana,sans-serif;font-size:9pt;font-weight:bold;}
.olControlScaleBar{bottom:25px;color:#000;font-family:tahoma,arial,verdana,sans-serif;right:10px;}
.olControlScaleBarBar{background-color:#000;border:1px solid #000;height:5px;top:12px;}
.olControlScaleBarBarAlt{background-color:#FFF;border:1px solid #000;height:5px;top:12px;}
.olControlScaleBarNumbersBox{font-size:9pt;top:19px;width:40px;}
.olControlScaleBarLabelBox{font-size:9pt;height:15px;letter-spacing:.1em;top:-5px;}
.styler{background-image:url(../apps/images/default/map/layerstyles.png)!important;}
.drawPolygon{background-image:url(../apps/images/default/map/draw_polygon_off.png)!important;}
.drawCircle{background-image:url(../apps/images/default/map/draw_circle_off.png)!important;}
.drawRectangle{background-image:url(../apps/images/default/map/draw_rectangle_off.png)!important;}
.clearPolygon{background-image:url(../apps/images/default/map/draw_polygon_clear_off.png)!important;}
.icon-measure-length{background:url(../apps/images/default/map/ruler.png) no-repeat scroll 0 0 transparent!important;height:16px!important;margin:0!important;width:16px!important;}
.icon-measure-area{background:url(../apps/images/default/map/ruler_square.png) no-repeat scroll 0 0 transparent!important;height:16px!important;margin:0!important;width:16px!important;}
div.map-overlay div.overlay-element{display:inline;float:left;margin:5px;}
.olControlScaleLine{font-family:tahoma,arial,helvetica,sans-serif;font-size:xx-small;left:10px;}
.overlay-scaleline{bottom:0;left:0;margin-top:0;}
.overlay-scalechooser{float:right!important;}
div.map-overlay{bottom:5px;position:absolute;right:5px;z-index:1000;width:250px;}
.olControlScaleLineTop{font-family:tahoma,arial,helvetica,sans-serif;font-size:xx-small;}
.olControlScaleLineBottom{font-family:tahoma,arial,helvetica,sans-serif;font-size:xx-small;}
.x-collapsed-title{color:#15428B;font:bold 11px / 15pxtahoma,arial,verdana,sans-serif;padding:2px 5px;}
.x-tool{float:left;margin-right:2px;}
.info-wms{padding:2px;color:#069;}
.info-wms p{padding:5px;}
.info-wms ul{width:100%;}
.info-wms li{font-weight:bold;}
.info-wms li span{width:33%;padding-right:5px;font-weight:normal;}
.info-wms ul li ul li{list-style-type:circle;margin-left:16px;}.metadata a{font-weight:bold;}
.title{font-size:120%;font-weight:bold;padding-bottom:5px;padding-top:15px;}
.x-tool-newwindow{background-image:url(../apps/images/default/newwindow.png)!important;}
.metadata * img.logo{max-height:100px;max-width:100px;margin:5px;}
.metadata * img.thumbnail{max-height:100px;max-width:100px;border:1px solid #B3D4E6;margin:5px;}
.mandatory *{font-weight:bold;}
img.thumb-small{max-width:80px;max-height:80px;min-height:40px;}
span.success{padding-left:15px!important;background-repeat:no-repeat;background-image:url(../apps/images/default/flag_green.png);}
span.error{padding-left:15px!important;background-repeat:no-repeat;background-image:url(../apps/images/default/flag_red.png);}
.mandatory+td span input,.mandatory+td span textarea,.mandatory+td span select{border:2px solid #767676;}
.metadata * div.info{width:100%;text-align:center;font-style:italic;font-size:80%;}
li.suggestion,div.help{padding:5px;border-bottom:1px solid #7EADD9;}
li.thumbnail{padding:5px;width:100px;text-align:center;float:left;}
li.thumbnail-over,li.suggestion-over{background-color:#F7EEE1;}
li.thumbnail-selected,li.suggestion-selected{background-color:#7EADD9;}
div.attr{clear:both;}
div#tabs ul li ul{list-style-type:none;padding-bottom:25px;border-bottom:2px solid #7EADD9;margin:0;}
div#tabs ul li span.mode{display:none;}
div#tabs ul li ul li{float:left;height:21px;background-color:#F7EEE1;margin:2px 2px 0 2px;border:2px solid #7EADD9;}
div#tabs ul li ul li.active{padding-top:2px;border-bottom:2px solid #fff;background-color:#fff;}
#tabs a{float:left;display:block;color:#666;text-decoration:none;padding:4px;}
#tabs a:hover{background:#fff;}
.metadata * div.el{width:100%;clear:both;}
.metadata * div.el label{margin-right:5px;}
.metadata * label{color:#767676;float:left;}
.metadata * fieldset{border-top:1px solid #8c8c8c;border-bottom:none;border-left:none;border-right:none;padding:0;margin:0;}
.metadata * legend{font-size:110%;font-weight:bold;color:#016599;padding:5px 0 4px 0;}
.metadata * input,.metadata * textarea,.metadata * select{color:#353a3b;border-color:#C1C1C1;border:1px solid #7EADD9;padding:1px 3px;}
.metadata * input[type='radio']{border-width:0;width:auto;}
.metadata * select{max-width:200px;background-color:#FFF;}
.metadata * input.error,.metadata * textarea.error,.metadata * select.error{border:2px solid red;}
.metadata * input,.metadata * textarea{width:60%;float:left;}
.metadata * .helper-radio,.metadata * .helper-radio_withdesc,.metadata * .helper-radio{float:left;width:100%;}
.metadata * .helper div{padding:5px;width:30%;float:left;}
.metadata * .helper div label span{color:#069;padding-left:5px;}
.metadata * .helper-radio_withdesc div{min-height:45px;}
.metadata * .helper-radio_linebreak div{width:100%!important;}
.metadata * .helper div label{float:none;padding-left:3px;}
.metadata * .helper div input,.metadata * .helper div textarea{float:none;}
.metadata * table.map * input{float:none!important;}
.metadata * input.small{width:10%;}
.metadata * input[type = checkbox]{width:20px;}
.metadata * input:focus,.metadata * textarea:focus,.metadata * select:focus{color:#000;background-color:#F7EEE1;}
.metadata * textarea{resize:both;}
.metadata * textarea.small{height:60px;}
.metadata * textarea.medium{height:140px;}
.metadata * textarea.large{height:240px;}
.metadata.xml * textarea.xml{width:99%!important;font-size:80%;border:none;height:100%!important;}
.metadata * table.gn{border-collapse:collapse;background-color:#fff;clear:both;padding:0;margin:0;width:100%;}
.metadata * table.gn>tbody>tr>td,.metadata * table.gn>tbody>tr>th{padding:7px 0 7px 7px;vertical-align:top;text-align:left;word-break:break-word;}
.metadata * table.gn>tbody>tr>td.col{padding:0;width:50%;}
.metadata * table.gn>tbody>tr>td.main,.metadata * table.gn>tbody>tr>th.main{width:25%;}
.metadata * table.gn p{margin-bottom:5px;}
table.related{border-collapse:collapse;border-spacing:0;width:100%;}
table.related>tbody>tr{height:30px;}
table.related>tbody>tr>td{color:#069;border-top:1px solid #D9AF71;border-bottom:1px solid #D9AF71;}
table.related>tbody>tr>td.main{background-color:#F7EEE1;}
table.related * ul{padding-top:5px;padding-left:10px;}
table.gn>tbody>tr>td,table.gn>tbody>tr>th{border-bottom:1px solid #B3D4E6;color:#069;}
table.gn>tbody>tr>th.complex,table.gn>tbody>tr>td.complex{border:none;}
table.gn>tbody>tr>td.main,table.gn>tbody>tr>th.main{background-color:#EBF5FA;}
table.map>tbody>tr>td{text-align:center;}
table.map>tbody>tr>td>input,table.map>tbody>tr>td>label{width:80px!important;}
span.icon{padding-left:20px;background-repeat:no-repeat;}
span.buttons{background-color:inherit;text-align:left;vertical-align:middle;}
span.buttons a{border-width:0!important;cursor:hand;cursor:pointer;}
span.buttons a.small span{margin:1px;padding:0 4px;width:6px!important;height:5px!important;background-repeat:no-repeat;}
.buttons a.find span{padding-left:15px!important;background-image:url(../apps/images/default/find.png);}
.buttons a.findsub span{padding-left:15px!important;background-image:url(../apps/images/default/find.png);}
.buttons a.error span{padding-left:15px!important;background-image:url(../apps/images/default/flag_red.png);}
.buttons a.add span{background-image:url(../apps/images/default/bullet_toggle_plus.png);background-size:10px;}
.buttons a.del span{background-image:url(../apps/images/default/bullet_toggle_minus.png);background-size:10px;}
.buttons a.up span{background-image:url(../apps/images/default/bullet_arrow_up.png);background-size:8px;}
.buttons a.down span{background-image:url(../apps/images/default/bullet_arrow_down.png);background-size:8px;}
div.button{float:left;background-repeat:no-repeat;min-width:15px;min-height:15px;}
.tgRight{background-image:url(../apps/images/default/bullet_arrow_right.png);}
.tgDown{background-image:url(../apps/images/default/bullet_arrow_down.png);background-position:50% 50%;}
.edit{background-image:url(../apps/images/default/page_white.png)!important;}
.editing{background-image:url(../apps/images/default/page_white_edit.png)!important;}
.saveMetadata{background-image:url(../apps/images/default/page_save.png)!important;}
.quitMetadata{background-image:url(../apps/images/default/page_go.png)!important;}
.validateMetadata{background-image:url(../apps/images/default/page_lightning.png)!important;}
.refreshMetadata{background-image:url(../apps/images/default/page_refresh.png)!important;}
.cancel{background-image:url(../apps/images/default/cancel.png)!important;}
.configIcon{background-image:url(../apps/images/default/cog.png)!important;}
.groupKey{background-image:url(../apps/images/default/group_key.png)!important;}
.flagGreen{background-image:url(../apps/images/default/flag_green.png)!important;}
.flagOrange{background-image:url(../apps/images/default/flag_orange.png)!important;}
.flagRed{background-image:url(../apps/images/default/flag_red.png)!important;}
.valid-1{background-image:url(../apps/images/default/flag_green.png)!important;}
.valid-0{background-image:url(../apps/images/default/flag_red.png)!important;}
.addMenu{background-image:url(../apps/images/default/add.png)!important;}
.cat-children,.cat-parent,.cat-sibling,.cat-associated{background-image:url(../apps/images/default/chart_organisation.png)!important;}
.book{background-image:url(../apps/images/default/book.png)!important;}
.feedback{background-image:url(../apps/images/default/feedback.png)!important;}
.subtemplateIcon{background-image:url(../apps/images/default/report_magnify.png)!important;}
.thumbnailIcon{background-image:url(../apps/images/default/picture.png)!important;}
.thumbnailAddIcon{background-image:url(../apps/images/default/picture_add.png)!important;}
.thumbnailDelIcon{background-image:url(../apps/images/default/picture_delete.png)!important;}
.thumbnailGoIcon{background-image:url(../apps/images/default/picture_go.png)!important;}
.attached{background-image:url(../apps/images/default/folder_brick.png)!important;}
.attachedAdd{background-image:url(../apps/images/default/folder_go.png)!important;}
.uploadIconAdd{background-image:url(../apps/images/default/folder_page_white.png)!important;}
.uploadIcon{background-image:url(../apps/images/default/folder_go.png)!important;}
.suggestionIcon{background-image:url(../apps/images/default/cog.png)!important;}
.suggestionRunIcon{background-image:url(../apps/images/default/page_gear.png)!important;}
.relatedAddIcon{background-image:url(../apps/images/default/link_add.png)!important;}
.relatedDelIcon{background-image:url(../apps/images/default/link_del.png)!important;}
.lightBox{background-image:url(../apps/images/default/map/icon_zoomin.png)!important;}
.cat-thumbnail{background-image:url(../apps/images/default/picture_go.png)!important;}
.cat-applications{background-image:url(../apps/images/default/category/applications.png)!important;}
.cat-dataset{background-image:url(../apps/images/default/category/dataset.png)!important;}
.cat-datasets{background-image:url(../apps/images/default/category/datasets.png)!important;}
.cat-services,.cat-service{background-image:url(../apps/images/default/category/service.png)!important;}
.cat-maps{background-image:url(../apps/images/default/category/maps.png)!important;}
.cat-audioVideo{background-image:url(../apps/images/default/category/audioVideo.png)!important;}
.cat-caseStudies{background-image:url(../apps/images/default/category/caseStudies.png)!important;}
.cat-directories{background-image:url(../apps/images/default/category/directories.png)!important;}
.cat-related,.cat-featureCatalogue,.cat-fcats{background-image:url(../apps/images/default/category/featureCatalogue.png)!important;}
.cat-interactiveResources{background-image:url(../apps/images/default/category/interactiveResources.png)!important;}
.cat-model{background-image:url(../apps/images/default/category/model.png)!important;}
.cat-photo{background-image:url(../apps/images/default/category/photo.png)!important;}
.cat-otherResources{background-image:url(../apps/images/default/category/otherResources.png)!important;}
.cat-proceedings{background-image:url(../apps/images/default/category/proceedings.png)!important;}
.topSecret *,.confidential *,.restricted *,.secret *{color:#ff0a0f!important;}
.color{border-left-width:5px;border-left-style:solid;}
.gtsTMPeriodDuration+* input,.gmlduration+* input{float:none!important;}
span.editor-help-inline{display:none;}.gn{background-color:#FFF;}
.md-view{text-shadow:0 1px 0 #FFF;}
.md-view ul{display:block;height:auto;position:relative;padding:5px 0 5px 7px;}
.md-view ul li * h1{color:#0076A1;font-size:small;margin-bottom:5px;}
.md-view div.relation{margin-left:30px!important;max-height:50px!important;overflow:hidden;display:none;position:relative;}
.md-view div.relation ul{margin-left:15px!important;}
.md-view div.relation span{background-image:url(../images/default/chart_organisation.png)!important;background-repeat:no-repeat;width:16px;height:16px;position:absolute;}
.md-view div.more{background-image:url(../images/default/three_dots.png)!important;background-repeat:no-repeat;background-position:95% 80%;}
.md-view div.relation.more:hover{overflow:auto;background-image:none!important;max-height:500px!important;}
.md-view div.relation ul li,table.related * li{float:left;width:200px;line-height:initial!important;word-wrap:break-word;padding:2px;}
div.linkPanel div#add-menu-content{float:right!important;}
.md-view * a{text-decoration:none;color:#0076A1;cursor:pointer;}
.md-view * a:hover{text-decoration:underline;color:#959532;}
.md-view td.left{width:30px;}
.md-view td.thumb{width:180px;}
.md-view td.icon{width:16px;border-left:1px solid #ececec;text-align:center;}
.md-view ul li * .md-logo img{width:30px;}
.md-view ul li{border-top:1px solid transparent;color:#222;float:left;margin:2px;overflow:hidden;padding:2px 2px 2px 2px;}
.md-view ul li.md-simple{width:98%;}
.md-view ul li.md-full{width:98%;}
.md-view ul li.md-thumbnail{height:220px;width:160px;}
.md-thumbnail * h1{font-size:smaller!important;height:35px;}
.md-view * table{width:100%;}
.md-view * table tr{vertical-align:top;}
.md-full-right * img{max-width:180px;max-height:140px;min-height:40px;}
.md-view * div.md-wrap{float:left;width:85%;}
.md-view * div.rating,.md-view * div.thumbnail{clear:both;width:158px;text-align:center;}
.md-view * div.thumbnail img{border:1px solid #e7e5e5;padding:1px;max-width:152px;max-height:152px;min-height:40px;height:auto;}
.md-view * div.rating{padding-bottom:2px;}
img.orgLogo{max-width:40px;max-height:40px;vertical-align:middle;}
div.md-contact span{font-style:italic!important;font-size:80%!important;color:#666;padding-right:4px;}
div.md-contact{text-align:right;clear:both;}
span.md-action-menu{visibility:hidden;}
.md-view ul li.x-view-selected{-moz-border-radius:4px 4px 4px 4px;background-color:rgba(217,210,123,0.25);border:1px solid rgba(0,51,102,0.25);}
.md-view ul li.md-over{-moz-border-radius:4px 4px 4px 4px;background-color:rgba(10,10,10,0.10);border-top:1px solid rgba(0,0,0,0.10);box-shadow:2px 2px 14px -2px;}
.md-view li strong{color:#000;display:block;}
.md-view * p{color:#444;}
.md-links table{float:left;margin-right:5px;}
.md-links * .x-btn-tl,.md-links * .x-btn-tr,.md-links * .x-btn-tc,.md-links * .x-btn-ml,.md-links * .x-btn-mr,.md-links * .x-btn-mc,.md-links * .x-btn-bl,.md-links * .x-btn-br,.md-links * .x-btn-bc{background:none;}
.md-view * .subject{font-size:80%;text-transform:uppercase;}
.md-view ul li.md-full div,.md-view ul li.md-simple div{padding-left:1px;}
.md-mn{background-repeat:no-repeat;padding-left:20px;padding-bottom:3px;}
.md-mn-view{background-image:url(../images/default/page_go.png)!important;}
.md-mn-edit{background-image:url(../images/default/page_edit.png)!important;}
.md-mn-del{background-image:url(../images/default/page_delete.png)!important;}
.md-mn-copy{background-image:url(../images/default/page_copy.png)!important;}
.md-mn-find{background-image:url(../images/default/find.png)!important;}
.md-mn-go{background-image:url(../images/default/bullet_go.png)!important;}
.md-mn-advanced{background-image:url(../images/default/cog.png)!important;}
.md-mn-user{background-image:url(../images/default/user.png)!important;}
.md-mn-pdf{background-image:url(../images/default/page_white_acrobat.png)!important;}
.md-mn-badd{background-image:url(../images/default/brick_add.png)!important;}
.md-mn-zip{background-image:url(../images/default/page_white_zip.png)!important;}
.md-mn-ftp{background-image:url(../images/default/folder.png)!important;}
.md-mn-ftps{background-image:url(../images/default/folder_key.png)!important;}
.md-mn-download{background-image:url(../images/default/download.png)!important;}
.mn-user-location{background-image:url(../images/default/user_location.png)!important;}
.mn-view-simple{background-image:url(../images/default/mv-simple.png)!important;background-repeat:no-repeat;}
.mn-view-full{background-image:url(../images/default/mv-full.png)!important;background-repeat:no-repeat;}
.mn-view-thumbnail{background-image:url(../images/default/mv-thumbnail.png)!important;background-repeat:no-repeat;}
.mn-login{background-image:url(../images/default/user_go.png)!important;}
.mn-logout{background-image:url(../images/default/door_out.png)!important;}
.mn-clear{background-image:url(../images/default/cross.png)!important;}
.search-item{padding-left:2px;}
.search-item h3{font-weight:normal!important;line-height:1.6em;}
.search-item span{font-weight:bolder;}
ul li.tag-cloud{text-align:center;padding:1px;margin:2px;}
ul li.tag-cloud-hover{text-decoration:none;}
ul li.tag-cloud a{line-height:26px;}
li.tag-cloud-0{font-size:60%!important;}
li.tag-cloud-1{font-size:70%!important;}
li.tag-cloud-2{font-size:80%!important;}
li.tag-cloud-3{font-size:90%!important;}
li.tag-cloud-4{font-size:100%!important;}
li.tag-cloud-5{font-size:120%!important;}
li.tag-cloud-6{font-size:140%!important;}
li.tag-cloud-7{font-size:160%!important;}
.x-combo-list-item img{max-width:20px;max-height:20px;vertical-align:middle;margin-right:3px;}
.connectIcon{background-image:url(../images/default/connect.png)!important;}
.zoomin{background-image:url(../images/default/icon_zoomin.png)!important;height:20px!important;width:20px!important;}
.zoomout{background-image:url(../images/default/icon_zoomout.png)!important;height:20px!important;width:20px!important;}
.zoomfull{background-image:url(../images/default/icon_zoomfull.png)!important;height:20px!important;width:20px!important;}
.pan{background-image:url(../images/default/icon_pan.png)!important;height:20px!important;width:20px!important;}
div.help .title{font-size:120%;font-weight:bold;}
div.help div{margin-top:3px;}
div.help span{font-style:italic;}
div.help ul li{list-style-type:circle!important;margin-left:10px!important;}