<div class="gn-facet" data-ng-show="facetObj.length > 0">
  <h5 gn-collapse="" >{{facetConfig.label | translate}}</h5>
  <div class="list-group">

    <div class="checkbox list-group-item" data-ng-repeat="f in facetObj"
            data-ng-click="updateSearch(f['@name'], $event)"
            data-ng-class="{'selected': isInSearch(f['@name'])}">
      <label>
        <input data-ng-checked="isInSearch(f['@name'])" type="checkbox">
        <span class="gn-facet-label">{{f['@label'] || f['@name']}}</span>
      </label>
      <span class="badge">{{f['@count']}}</span>
    </div>
  </div>
</div>
