/* Defined here any custom style for the view
   which has to be applied for all apps
   (ie. admin, search, login, editor). */

/* Override EEA plone style interacting with bootstrap */
.container, .container-fluid,
.gn-editor-board, .gn-editor-container {
  .panel {
    display: block;
  }
  .row {
    float: none;
  }
  li {
    display: inherit;
  }
  a:visited, a:link, a {
    color: #333333;
  }
  .date {
    font-weight: inherit;
    color: #333333;
    text-align: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    text-shadow: none;
  }

    a.gn-md-edit-btn:visited, a.gn-md-edit-btn:link, a.gn-md-edit-btn, a.gn-md-delete-btn:visited, a.gn-md-delete-btn:link, a.gn-md-delete-btn {
      color: #fff !important;
    }
  
}

/* Override Bootstrap style */

.btn-primary {
  color: #fff;
  background: #346F83;
  background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
  background: -webkit-linear-gradient(#478EA5, #346F83);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')";
  background-image: -moz-linear-gradient(270deg, #478EA5, #346F83);
  background-image: -ms-linear-gradient(top,#478EA5,#346F83);
  background-image: -o-linear-gradient(top,#478EA5,#346F83);
  background-image: linear-gradient(top,#478EA5,#346F83);
  text-shadow: 0 1px 1px #000;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -ms-transition: border-color .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  -webkit-transition: box-shadow .218s;
  -moz-transition: box-shadow .218s;
  -ms-transition: box-shadow .218s;
  -o-transition: box-shadow .218s;
  transition: box-shadow .218s;
  border: 1px solid #346F83;
}

.btn-primary:hover {
background-color:#f6a800;
background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(orange),to(#FF9123));
background: -webkit-linear-gradient(orange, #FF9123); /* */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123'); /* */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123')"; /* */
background-image: -moz-linear-gradient(270deg, orange, #FF9123);
background-image: -ms-linear-gradient(top,orange,#FF9123);
background-image: -o-linear-gradient(top,orange,#FF9123);
background-image: linear-gradient(top,orange,#FF9123);
color: #FFFFFF !important;
cursor:pointer;
border-color: #999999;
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #427597;
}